{% extends 'base/template_base.html' %}
{% from 'macros/nav.html' import nav %}
{% from 'macros/assets_header.html' import assets_header %}
{% from 'macros/header.html' import header %}
{% from 'macros/footer.html' import footer %}

{% block meta %}
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% endblock %}

{% block assets_header %}
{{ assets_header() }}
{% endblock %}


{% block title %}
{{ site['name'] }}
{% endblock %}



{% block nav %}
	{% if config['menu_active'] == True %}
		{{ nav(site) }}
	{% endif %}
{% endblock %}



{% block header %}
{{ header(site) }}
{% endblock %}



{% block content %}
<div class="ui container">
	<div class="grid">
		<div class="column">
			<h3><a href="{{ article['url'] }}">{{article['title']}}</a></h3>
			<p>{{ article['content'] }}</p>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
{{ footer(site['name']) }}
{% endblock %}

{% block assets_footer %}
{% endblock %}